
.project + .project {
    margin-top: 20px;
  }
  
  .project h3 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .project h3 a:hover {
    color: #ff6347;
  }
  
  .project p {
    margin-bottom: 10px;
  }